/* Stylesheet by David J. Waro */

body {

}

#title {
  position: absolute;
  font: normal 3.5vw "DIN Next LT Pro", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-shadow: 4px 4px 6px rgba(0,0,0,0.91);
  z-index: 2;
  text-transform: uppercase;
  top: 1.5%;
  left: 2%;
}

#madrep {
  position: absolute;
  right: 0.5%;
  top: 0.25%;
  height: 10vh;
  width: 16vw;
  background-image: url('img/madrep-3.png');
  background-size: 17vw 15vh;
  background-position: center;
  background-repeat:no-repeat;
  margin-top: 5px;
  z-index: 1;
}

#madrep:hover {
  cursor: pointer;
}

#top {
  width: 100vw;
  top: 0;
  left: 0;
  height:11vh;
  position: absolute;
  background-image: url('img/tweed/tweed.png');
  border-bottom: solid;
  border-width: thin;
  border-color: black;
  z-index: 1;
}

#mapid {
  height: 89%;
  width: 100%;
  position: fixed;
  top:11%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#right-panel {
  position: fixed;
  display: inline-block;
  top: 20%;
  width: 280px;
  height: 530px;
  right: 1%;
  bottom: 5%;
  padding-right: 10px;
  border: solid;
  border-width: 2px;
  border-color: black;
  background-image: url("gray_jean.png");
  z-index: 2;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#website {
  position: absolute;
  left: 75px;
  top: 89px;
  width: 140px;
  padding-right: 5px;
  height: 40px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  z-index: 5;
}

#website:hover {
  cursor: pointer;
}

#bar {
  position: absolute;
  height: 6vh;
  width: 50%;
  left: 25%;
  border: solid;
  border-width: thin;
  border-color: black;
  border-top: none;
  top: 11vh;
  background-image: url("img/tweed/tweed.png");
}

#filter {
  position: absolute;
  height: 43px;
  width: 120px;
  left: 70px;
  border: solid;
  border-width: thin;
  border-color: black;
  border-top: none;
  top: 11vh;
  text-align: left;
  text-indent: 15.1px;
  color: white;
  line-height: 44px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 1px;
  background-image: url("img/tweed/tweed.png");
}

#filter:hover {
  cursor: pointer;
}

#search {
  position: absolute;
  height: 43px;
  width: 240px;
  left: 190px;
  border: solid;
  border-width: thin;
  border-color: black;
  border-top: none;
  top: 11vh;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-image: url("img/tweed/tweed.png");
}

#search-1 {
  position: absolute;
  left: 5%;
  top: 20%;
  height: 90%;
  width: 90%;
}

#rail-access {
  position: absolute;
  display: none;
  left: 130px;
  width: 150px;
  border-left: solid;
  border-width: thin;
  border-color: black;
  top: 0px;
  height: 43px;
  text-align: left;
}

#tif-district {
  position: absolute;
  display: none;
  left: 130px;
  width: 150px;
  border-left: solid;
  border-width: thin;
  border-color: black;
  top: 0px;
  height: 43px;
  text-align: left;
}

#cert {
  position: absolute;
  display: none;
  left: 130px;
  width: 150px;
  border-left: solid;
  border-width: thin;
  border-color: black;
  top: 0px;
  height: 43px;
  text-align: left;
}

#gold {
  position: absolute;
  display: none;
  left: 130px;
  width: 150px;
  border-left: solid;
  border-width: thin;
  border-color: black;
  top: 0px;
  height: 43px;
  text-align: left;
}

#shovel {
  position: absolute;
  display: none;
  left: 130px;
  width: 150px;
  border-left: solid;
  border-width: thin;
  border-color: black;
  top: 0px;
  height: 43px;
  text-align: left;
}

#dropdown-1 {
  position: absolute;
  left: 0px;
  display: block;
  width: 95px;
  top: 0px;
  height: 43px;
  text-align: left;
}

#dropdown-counties {
  position: absolute;
  display: none;
  left: 130px;
  width: 95px;
  border-left: solid;
  border-width: thin;
  border-color: black;
  top: 0px;
  height: 43px;
  text-align: left;
}

#dropdown-counties:hover .dropdown-element {
  display: block;
}

#dropdown-sizes {
  position: absolute;
  display: none;
  left: 130px;
  width: 150px;
  border-left: solid;
  border-width: thin;
  border-color: black;
  top: 0%;
  height: 43px;
  text-align: left;
}

#dropdown-sizes:hover .dropdown-element-2 {
  display: block;
}

.dropdown-element-2 {
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  border-width: thin;
  border-color: black;
  line-height: 35px;
  color: White;
  text-decoration: none;
  width: 200%;
  overflow: visible;
  background-image: url("img/tweed/tweed.png");
}

.dropdown-element-2:hover {
  background-image: none;
  background-color: #d9d9d9;
  color: black;
}

.dropdown-element {
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  border-width: thin;
  border-color: black;
  line-height: 35px;
  color: White;
  text-decoration: none;
  width: 140%;
  overflow: visible;
  background-image: url("img/tweed/tweed.png");
}

.dropdown-element:hover {
  background-image: none;
  background-color: #d9d9d9;
  color: black;
}

#dropdown-1:hover .dropdown-element {
  display: block;
}

.dropdown-element {
  display: none;
}

.dropdown-element-2 {
  display: none;
}

#refresh {
  position: absolute;
  cursor: pointer;
  left: 0.5%;
  bottom: 170px;
  border: solid;
  border-width: 0.1px;
  border-color: black;
  border-radius: 5px;
  height: 28px;
  width: 29px;
  z-index: 100;
  background-image: url('img/refresh.png');
  background-color: #f2f2f2;
  background-size: 21px 17px;
  background-position: center;
  background-repeat:no-repeat;
}

#refresh:hover {
  background-color: #e6e6e6;
}

#legend {
  position: fixed;
  left: 0%;
  bottom: 7px;
  height: 22.5vh;
  width: 15vw;
  min-height: 150px;
  max-height: 150px;
  min-width: 200px;
  margin-bottom: 5px;
  letter-spacing: 1.3px;
  background-color: rgba(204, 204, 204, 0.8);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  background-size: 260px 85px;
}

#section-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 7.5vh;
  width: 100%;
  text-align: left;
  text-indent: 45px;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 #FFF,
   1px -1px 0 #FFF,
   -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
  line-height: 52.5px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
}

#section-1:hover {
  cursor: pointer;
  text-shadow:
  -1px -1px 0 #71da71,
   1px -1px 0 #71da71,
   -1px 1px 0 #71da71,
    1px 1px 0 #71da71;
}

#certified-rect {
  position: absolute;
  left: 9px;
  top: 12.5px;
  height: 3.75vh;
  width: 25px;
  border: solid;
  border-width: thin;
  border-color: black;
  background-color: #71da71;
  border-radius: 25px;
}

#gold-shovel-rect {
  position: absolute;
  left: 9px;
  top: 12.5px;
  height: 3.75vh;
  width: 25px;
  border: solid;
  border-width: thin;
  border-color: black;
  background-color: gold;
  border-radius: 25px;
}

#section-2 {
  position: absolute;
  top: 45px;
  left: 0px;
  height: 7.5vh;
  width: 100%;
  text-align: left;
  text-indent: 45px;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 #FFF,
   1px -1px 0 #FFF,
   -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
  line-height: 52.5px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
}

#section-2:hover {
  cursor: pointer;
  text-shadow:
  -1px -1px 0 gold,
   1px -1px 0 gold,
   -1px 1px 0 gold,
    1px 1px 0 gold;
}

#section-3 {
  position: absolute;
  top: 90px;
  font-size: 20px;
  left: 0px;
  height: 7.5vh;
  width: 100%;
  text-align: left;
  text-indent: 45px;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 #FFF,
   1px -1px 0 #FFF,
   -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
  line-height: 52.5px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#section-3:hover {
  cursor: pointer;
  text-shadow:
  -1px -1px 0 #3385ff,
   1px -1px 0 #3385ff,
   -1px 1px 0 #3385ff,
    1px 1px 0 #3385ff;
}

#regular-rect {
  position: absolute;
  left: 9px;
  top: 12.5px;
  height: 3.75vh;
  width: 25px;
  border: solid;
  border-width: thin;
  border-color: black;
  background-color: #3385ff;
  border-radius: 25px;
}

#park-title {
  width: 100%;
  position: absolute;
  text-align: center;
  height: 55px;
  top: 5px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#sectional {
  position: absolute;
  text-align: left;
  left: 5%;
  top: 130px;
  font-size: 16px;
  line-height: 18px;
  padding-right: 5px;
  overflow: visible;
  font-family: Helvetica, sans-serif;
}

#sectional h4 {
  font-weight: lighter;
  line-height: 2px;
  overflow: visible;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#sectional p {
  font-size: 15px;
}

.leaflet-popup-content p {
  margin:  0.2em 0;
}
